services:
  web:
    container_name: azuracast
    image: ghcr.io/azuracast/azuracast:${AZURACAST_VERSION:-stable}

    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.azuracast.rule=Host(`radio.go7s.net`)"
      - "traefik.http.routers.azuracast.entrypoints=web"
      - "traefik.http.services.azuracast.loadbalancer.server.port=80"

    ports:
      # nội bộ để debug (không bắt buộc, có thể bỏ sau)
      - "127.0.0.1:8088:80"

      # stream
      - "8000:8000"
      - "8001:8001"
      - "8002:8002"

      # sftp
      - "2022:2022"

    volumes:
      - station_data:/var/azuracast/stations
      - backups:/var/azuracast/backups
      - db_data:/var/lib/mysql
      - www_uploads:/var/azuracast/storage/uploads
      - geolite_install:/var/azuracast/storage/geoip
      - sftpgo_data:/var/azuracast/storage/sftpgo

    restart: unless-stopped

volumes:
  db_data: {}
  station_data: {}
  backups: {}
  www_uploads: {}
  geolite_install: {}
  sftpgo_data: {}
