services:
  web:
    image: ghcr.io/azuracast/azuracast:stable
    container_name: azuracast

    ports:
      # Web AzuraCast (NPM sẽ forward vào đây)
      - "127.0.0.1:8088:80"

      # Stream ports (3 station)
      - "8000:8000"
      - "8001:8001"
      - "8002:8002"

      # SFTP upload
      - "2022:2022"

    volumes:
      - station_data:/var/azuracast/stations
      - backups:/var/azuracast/backups
      - db_data:/var/lib/mysql
      - www_uploads:/var/azuracast/storage/uploads
      - geolite_install:/var/azuracast/storage/geoip
      - sftpgo_data:/var/azuracast/storage/sftpgo

    restart: unless-stopped

volumes:
  station_data: {}
  backups: {}
  db_data: {}
  www_uploads: {}
  geolite_install: {}
  sftpgo_data: {}
